{
  "DEBUG_HTTP_ADD_CACHE_DELAY_MS": "",
  "DEBUG_HTTP_ADD_NETWORK_FAILURE": "",
  "DEBUG_CLEAR_CACHE_ON_STARTUP": "",
  "MGP_ROUTE_API_URL": "http://localhost:8080/providers/mgp/app_cuando_llega/webWS.php",
  "OSM_API_URL": "http://localhost:8080/map_tiles/osm",
  "API_TOKEN": "7d2089176b05c1fe73a32bc3618975966f238cb1f8de690666c79a226ae8ae3d"
}