{
  "DEBUG_HTTP_ADD_CACHE_DELAY_MS": "",
  "DEBUG_HTTP_ADD_NETWORK_FAILURE": "",
  "DEBUG_CLEAR_CACHE_ON_STARTUP": "",
  "MGP_ROUTE_API_URL": "http://localhost:8080/providers/mgp/app_cuando_llega/webWS.php",
  "OSM_API_URL": "http://localhost:8080/map_tiles/osm",
  "API_TOKEN": "<your-api-token>"
}